<div class="container">
  <div class="row">
    <h3>Painting</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @paintings.each do |painting| %>
            <tr>
              <%= render painting %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
